table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 480px;
}

h1, h2{
    text-align: center;
}

body{
    background-color: lightgreen;
}

td {
    border: solid 3px black;
    display: table-cell;
    width: 60px;
    height: 60px;
    text-align: center;
}