table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 480px;
}

h1, h2{
    text-align: center;
}

body{
    background-color: lightgreen;
    text-align: center;
}

button{
    font-size: 50px;
    width: 25%;
    height: 15%;
}
